.places {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}
.places h1 {
    width: 100%;
    padding: 45px 0px 10px 20px;
    margin: 0;
    font-size: 30px;
}
.places article {
    width: 390px;
    padding: 20px;
    margin:  20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.places .place_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}
.places article h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    display: flex;
    width: auto;
    height: auto;
    margin-right: 20px;
    max-width: 300px;
}
.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-left: auto;
    padding: 3px
}
.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.guest_img {
    background-image: url("../images/icon_group.png");    
}
.rooms_img {
    background-image: url("../images/icon_bed.png");
}
.bathrooms_img {
    background-image: url("../images/icon_bath.png");
}
.guest_img,
.rooms_img,
.bathrooms_img {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.user p {
    margin: 22px auto 0  auto;
    padding: 0;
}
.description p {
    margin: 5px auto 0  auto;
    padding: 0;
}
footer {
    position: relative;
}
